.outgoingContainer{
    
    display: flex;
    justify-content: right;
    
    
}
.outgoingMessage{
    padding: 5px;
    margin: 6px;
    border-radius: 7px 7px 0px 7px;
    height: auto;
    background-color: #369eff;
    width: 60%;
}
.outgoingMessage p{
color: white;
}