.contenedorConversation{
    background-color: #252525;
    height: 100vh;
    display: grid;
    grid-auto-columns: 100%;
    grid-template-rows: 42px 42px 42px calc(100vh - 126px);
    > h2 {
        color: #eee;
        padding-left: 10px;
        height: 36px;
        font-size: 20px;
    }
}