# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njs proj
*.sln
*.sw?
.env


.code-workspace
coverage
jest.config.js

api/socket_provider_session_files
api/files/contacts
api/dist
api/frontDist
api/frontDist/*