.layout{
    height: 100%;
    display: grid;
    grid-template-rows: auto min-content;
    width: 100%;
    background-color: #d3c9bb;
    overflow-y: auto;
    scrollbar-width: none;
    background-image: url('../../assets/chat-background.png');
    background-size:cover;
    scroll-behavior: smooth;

  }
.tabsContent{
  height: 100%;
}