.container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px; 
}
.title{
    display: grid;
    place-content: center;
}
.keyWords{
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    &::before{
        content: "PALABRAS CLAVE";
        color: var(--active-button-primary-color);
        padding: 2px;
        border-radius: 8px;
    }
}
.keyWordInput{
    border: 1px solid #80b7c5;
    border-radius:4px;
    padding: 4px;
}
.media, .send{
    grid-column: 1 / 3;
}
.mediaControl{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:  8px;
    > button{
        border: none;
        outline: none;
        background-color: var(--active-button-primary-color);
        color: #fff;
        font-size: 32px;
        cursor: pointer;
        width: 32px;
        height: 32px;
        display: grid;
        place-content: center;
    }
    > span{
        color: var(--active-button-primary-color);
        font-size: 24px;
    }
}
.mediaInput{
    display: flex;
    gap: 24px;
    border-bottom: 1px solid #8884;
    &:last-child{
        border-bottom: none;
    }
    & > * {
        flex-basis: 50%;
    }
}
.send{
    display: flex;
    justify-content: center;
    & button {
        width: 75%;
    }
}