.form{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    border-radius: 16px;
    padding: 12px;
    &.newS{
        grid-column: 1;
    }
    > label{
        width: 100%;
    }
    >div{
        width: 100%;
    }
}