.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 80px 1fr;
    height: 100%;
    > *{
        padding: 16px;
        border-right: 1px solid #888;
        &:last-child{
            border: none;
        }
    }
}
.searchBar{
    grid-column: 1 / 2 ;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    background-color: #e8e8e8;
}
.agentsContainer {
    padding: 16px;
    width: 100%;
}

.explain{
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}