.container{
    width: 100%;
    height: 100%;
    padding: 12px;
    position: relative;
}
.button{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    color: #fff;
    background-color: transparent;
    display: grid;
    place-content: center;
    border: none;
    outline: none;
    cursor: pointer;
    user-select: none;
}
.button svg {
    width: 24px;
    transition: transform .1s ;
    fill: #fff;
}
.button:hover svg, .menuContainer.visible ~ .button > svg {
    fill: var(--active-button-primary-color);
}
.menuContainer{
    width: 350%;
    position: absolute;
    bottom: calc(100% + 12px);
    border-radius: 8px;
    overflow: hidden;
    border-bottom: 1px solid #777;
    display: none;
}
.visible{
    display: block;
}
.menu{
    background-color: #777;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.option{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px;
    gap: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #444;
    font-size: 16px;
    &:hover{
        background-color: #555;
    }
}
.optionIcon{
    flex-basis: 24px;
    fill: #fff;
}
.optionTitle{
    flex-basis: 75%;
    text-align: start;
    color: #fff;
}
.fileInput{
    display: none;
}
.fastMessagesOptionsContainer{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-auto-rows: 100px;
    gap: 32px;
}
.fastMessagesOptionsButton{
    border-radius: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    background: var(--active-button-primary-color);
    color: #fff;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    &:hover{
        font-weight: bold;
        filter: brightness(110%);
        animation: low-shake 1s linear infinite;
    }
}
@keyframes low-shake {
    0%, 50%, 100%{
        transform: translateX(0px) rotate(0deg);
    }
    25%{
        transform: translateX(-2px) rotate(1deg);
    }
    75%{
        transform: translateX(2px) rotate(-1deg);
    }
}
.searchFastMessage{
    display: flex;
    gap: 8px;
    justify-content: end;
    align-items: center;
    & > input{
        padding: 4px;
        border: none;
        outline: none;
        border-bottom: 3px solid #333;
        animation: shadow .75s linear infinite alternate;
        min-width: 120px;
        color: var(--active-button-primary-color);
        font-weight: bold;
    } 
}
@keyframes shadow {
    from {
        border-color: #333;
    }
    to {
        border-color: transparent;
    }
}