.sender{
    border-top: 1px solid gray;
    width: inherit;
    min-height: 12.5vh;
    max-height: fit-content;
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    padding-right: 8px;
}
.mediaMenu{
    grid-column: 1 / 4;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100px;
    background-color: #444;
    gap: 8px;
    resize: vertical;
    overflow-x: auto;
    scrollbar-width: thin;
}
