.table{
    width: 100%;
    border: none;
    --cols:1;
    --bg-head: #ddd;
    border: 1px solid #5455;
    & * {
        border: none;
        margin: 0px;
        padding: 0px;
    }
}
.col{
    padding: 2px 8px;
    text-align: start;
}
.row{
    font-size: 12px;
    padding: 4px 0px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(var(--cols), 1fr);
    &:nth-child(odd){
        background-color: #ddd;
    }
    &:hover{
        background-color: var(--bg-head);
        filter: brightness(125%);
        opacity: .8;
        > * {
            color:#f8f8f8;
        }
    }
}
.head > .row{
    background-color: var(--bg-head);
    font-size: 14px;
    &:hover{
        filter: none;
    }
    > .col{
        color: #fff;
        > button{
            width: 16px;
            background-color: transparent;
            fill: #eee;
            cursor: pointer;
            margin-left: 15px;
        }
    }
}

.actions{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}