.radioInputs {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  border: 1px solid #444;
  border-left: none;
  border-right: none;
}

.radioInputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radioInputs .radio input {
  display: none;
}

.radioInputs .radio .name {
  position: relative;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  padding: .5rem 0;
  color: var(--active-button-primary-color);
  font-size: 12px;
  transition: all .15s ease-in-out;
  text-transform: uppercase;
  gap: 8px;
}

.radioInputs .radio input:checked+.name::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--active-button-primary-color);
  bottom: 0px;
}

.notifications {
  background-color: var(--active-button-primary-color);
  color: #fff;
  aspect-ratio: 1;
  width: 15px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}