.searchearContainer {
  display: flex;
  width: 100%;
  padding: 5px 10px;
  align-items: center;
}

.principalBar {
  background-color: #1d1c1cd7;
  display: flex;
  width: 17%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  
}

.principalBar button {
  cursor: pointer;
  color: white;
  font-size: 1rem;
  background-color: transparent;
  border: none;
}

.searcherContainer {
  display: flex;
  align-items: center;
}

.searcher {
  background-color: #25292c;
  border: 0;
  border-radius: 15px;
  padding: 5px 20px;
  width: 100%;
  
  margin-left: 20px;
  color: white;
  font-size: .8rem;
  outline: none;
}

.searcherBtn {
  background-color: #4d5056ab;
  display: flex;
  width: 18%;
  height: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  border-radius: 4px;
  margin-left: 10px; /* Mueve searcherBtn al lado derecho */
}

.searcherBtn button {
  cursor: pointer;

  color: white;
  box-shadow: none;
  border: none;
  background-color: transparent;
  width: 2.5rem;
  height: 100%;
  margin: 0;
  font-size: 1rem;
}

.searcher::placeholder {
  color: white;
}
