:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --active-button-primary-color:#639bdf;
  --active-button-secondary-color:#5c6979;
  --active-button-success-color:#64ca52;
  --active-button-error-color:#e43c3c;
  --active-button-warning-color:#ecb051;
}
body {
  position: relative;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
a, p, h1, h2, h3, h4, h5{
  text-decoration: none;
}
svg{
  aspect-ratio: 1;
  width: 18px;
}
#multiChatDrawer{
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0006;
  opacity: 0;
  transition: opacity .25s;
  animation: hide .25s linear forwards;
  &:has(>div#multiChatDrawerContent>*){
    opacity: 1;
    animation: appear .25s linear forwards;
  }
  > #multiChatDrawerContent {
    position: absolute;
    right: 0;
    height: 100%;
    background-color: #fff;
    transition: width 1s;
  }
}
@keyframes appear {
  from {
    display: none;
  }
  to {
    display: block;
  }
}
@keyframes hide {
  to{
    display: none;
  }
}
.btn{
  --color:#333
  white-space: nowrap;
  padding: 12px 4px;
  font-weight: bold;
  background-color: #f8f8f8;
  border: 2px solid var(--color);
  color: var(--color);
  cursor: pointer;
  --shadow: var(--color);
  user-select: none;
  &:hover{
    box-shadow: 0px 0px 5px .75px var(--shadow);
    text-shadow: 0px 0px 5px .75px var(--shadow);
  }
  &.icon{
    width: 32px;
    padding: 4px;
    fill: var(--color);
    > svg {
      width: 100%;
    }
  }
}
.btn.primary{
  --color:var(--active-button-primary-color);
}
.btn.secondary{
  --color:var(--active-button-secondary-color);
}
.btn.success{
  --color:var(--active-button-success-color);
}
.btn.error{
  --color:var(--active-button-error-color);
}
.btn.warning{
  --color:var(--active-button-warning-color);
}
.input{
    display: flex;
    flex-direction: column;
    width: 100%;
    &.inline{
      /* display: inline-flex; */
      flex-direction: row;
      align-items: center;
      gap: 2px;
    }
    > span{
        font-size: 14px;
        color: #333;
    }
    > input, > select,> textarea {
        padding: 3px;
        border-radius: 2px;
        outline: none;
        border: 1px solid #444;
        background-color: #f8f8f8;
    }
    .error{
      font-size: 12px;
      color: var(--active-button-error-color);
    }
    &:has(>*.error){
      animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
      > span{
        color: var(--active-button-error-color);
      }
      > input, > select,> textarea {
          border: 1px solid var(--active-button-error-color);
      }
    }
}
.tabulator{
  & .tabulator-header {
    & .tabulator-col{
      background-color: var(--active-button-primary-color);
      &.tabulator-sortable:hover{
        background-color: var(--active-button-primary-color);
        filter: brightness(120%);
      }
      & .tabulator-col-title{
        color: #f8f8f8;
      }
    }
  }
}
@keyframes shake-horizontal {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70% {
    transform: translateX(-2.5px);
  }
  20%, 40%, 60% {
    transform: translateX(2.5px);
  }
  80% {
    transform: translateX(2px);
  }
  90% {
    transform: translateX(-2px);
  }
}
#snackbar{
  display: flex;
  flex-direction: column-reverse;
  justify-content: end;
  gap: 8px;
  position: fixed;
  z-index: 10;
  bottom: 40px;
  right: 40px;
  height: calc(100vh - 80px);
}