.assignedContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.assigned{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    border-radius: 7px;
    text-align: center;
    background-color: #697076;
    color: white;
    width: 95%;
    margin: 5px;
}