.container{
    width: 100%;
    display: flex;
    gap: 16px;
    justify-content: start;
    align-items: center;
    background-color: #f8f8f8;
    padding: 8px;
    border-radius: 4px;
    border:1px solid #aaa;
    transition: gap .25s;
    &:has(.input:focus){
        background-color: #ddd;
        gap:12px
    }
}
.iconContainer, .closeContainer, .arrowContainer{
    width: 16px;
}
.input{
    background-color: transparent;
    color: #444;
    border: none;
    outline: none;
    font-size: 16px;
    flex-grow: 1;
    height: 100%;
}
.input:focus ~ .arrowContainer, .arrowContainer:hover{
    fill: rgb(73, 240, 103);
    transform: rotate(90deg);
}
.closeContainer:hover{
    fill:red
}
.closeContainer, .arrowContainer{
    background-color: transparent;
    border: none;
    outline: none;
    transition: all .25s;
    cursor: pointer;
}