.container{
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 3fr;
    > * {
        padding: 24px;
    }
}
.stepperBar{
    display: flex;
    align-items: center;
}
.tabs{
    position: relative;
}
.prevButton{
    position: absolute;
    top: 0px;
    left: 24px;
    border-radius: 8px;
    padding: 6px;
    border: 1px solid #444;
    color: #444;
    background-color: #f4f4f4;
    cursor: pointer;
    font-size: 12px;
    &:hover{
        border-color: var(--active-button-primary-color);
        color: var(--active-button-primary-color);
    }
}
.viewContainer{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.viewTitle{
    > h3 {
        font-size: 32px;
        color: #333;
    }
    > p {
        font-size: 16px;
        color: #555;
    }
}
.viewMain{
    /**************************************************************************************/
    /* View 1 */
    > .providerContainer {
        display: grid;
        grid-template-columns: repeat(auto-fit, 150px);
        gap: 32px 16px;
    }
    
    /**************************************************************************************/
    /* View 2 */
    > .channelContainer{
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 32px;
        > .QRContainer {
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-size: 24px;
        }
        > div:has(>button){
            grid-column: 1 / 3;
            text-align: center;
            >button {
                width: 40%;
            }
        }
    }
    /**************************************************************************************/
    /* View 3 */
    > .agentsContainer{
        display: flex;
        flex-direction: column;
        gap: 8px;
        > h4 {
            font-size: 20px;
            color: #333;
        }
        > div {
            display: flex;
            gap: 8px;
        }
    }
}
.checkbox{
    background: #4ae;
    padding: 4px 8px;
    border-radius: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    user-select: none;
    > span{
        color: #f8f8f8;
    }
}   