.container{
    display: flex;
    justify-content: left;
    &:has(>.outgoing){
        justify-content: right;
    }
    &:has(>.load){
        justify-content: center;
    }

}
.message{
    padding: 10px;
    margin: 6px;
    border-radius: 7px 7px 0px 7px;
    background-color: #bcd8f3;
    max-width: 60%;
    min-width: 30%;
    animation: up .25s ease forwards;
    box-shadow: 5px 5px 15px #0004;
    &.whatsapp{
        background-color: #aee4c3;
    }
    & .messageUsername{
        display: flex;
        justify-content: end;
        transform: translateY(-10px);
        & span {
            width: fit-content;
            font-size: 12px;
        }
    }
}
.message.load{
    background-color: #44474a;
    gap: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    min-width: none;
    height: 50px;
    & span{
        display: block;
        background-color: #fff;
        border-radius: 50%;
        width: 15px;
        aspect-ratio: 1;
        animation: bounce .3s ease-in-out infinite alternate;
    }
}